Source: ros-jazzy-turtlebot3-autorace
Section: misc
Priority: optional
Maintainer: Pyo <pyo@robotis.com>
Build-Depends: debhelper (>= 9.0.0), ros-jazzy-ament-cmake, ros-jazzy-ros-workspace
Homepage: http://turtlebot3.robotis.com
Standards-Version: 3.9.2

Package: ros-jazzy-turtlebot3-autorace
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-jazzy-turtlebot3-autorace-camera, ros-jazzy-turtlebot3-autorace-detect, ros-jazzy-turtlebot3-autorace-mission, ros-jazzy-ros-workspace
Description: ROS 2 meta packages for turtlebot3_autorace
